.pageContainer {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.titre {
  text-align: center;
  color: var(--couleur-texte);
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.spanBleu {
  color: var(--couleur-primaire);
}

/* La Grille */
.gridProjets {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

/* La Carte Projet */
.card {
  background-color: var(--couleur-surface);
  border: 1px solid #333;
  border-radius: 12px;
  overflow: hidden; /* Pour que l'image ne dépasse pas des coins arrondis */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column; 
}

.card:hover {
  transform: translateY(-5px); 
  box-shadow: 0 10px 20px rgba(97, 218, 251, 0.15); /* Ombre bleue */
  border-color: var(--couleur-primaire);
}

/* Image du projet (ou placeholder) */
.imageContainer {
  height: 180px;
  background-color: #2a2a2a;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #333;
}

.projectImg {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Remplit bien la case sans déformer */
}

/* Contenu Texte */
.content {
  padding: 20px;
  flex-grow: 1; 
}

.cardTitle {
  color: var(--couleur-primaire);
  margin-top: 0;
  font-size: 1.5rem;
}

.cardDesc {
  color: #ccc;
  font-size: 0.95rem;
  margin-bottom: 15px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 20px;
}

.tag {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 0.8rem;
  color: var(--couleur-primaire);
}

/* Bouton GitHub */
.githubBtn {
  display: block;
  text-align: center;
  background-color: transparent;
  border: 1px solid var(--couleur-primaire);
  color: var(--couleur-texte);
  padding: 10px;
  margin: 20px;
  margin-top: auto; /* Colle le bouton tout en bas */
  border-radius: 8px;
  font-weight: bold;
  transition: all 0.3s;
}

.githubBtn:hover {
  background-color: var(--couleur-primaire);
  color: #121212;
}