#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



.navbar {
  background-color: var(--couleur-surface); /* Devient gris foncé */
  border-bottom: 1px solid #333; /* Une ligne en bas */
  padding: 0.5rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  flex-wrap: wrap; 

  height: auto; 
  min-height: 80px; 
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.navbar a {
  color: var(--couleur-texte); /* Le texte des liens blanc */
  font-weight: 600;
  font-size: 1.1rem;
  transition: all 0.3s ease;
  padding-bottom: 5px;
}

.navbar a:hover {
  color: var(--couleur-primaire); /* Devient bleu néon au survol */
}

.main-content {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  min-height: 80vh;
}


.logo-link {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 60px; 
  width: auto; 
  border-radius: 30px; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.logo-img:hover {
  transform: scale(1.05); 
  box-shadow: 0 0 15px rgba(255, 100, 0, 0.5); 
}